{% extends "base_template.html" %}
{% block content %}
<h2><font color="darkblue">AreaCode:  {{npa_code}}</font></h2>
<h2><font color="darkblue">{{state_name}}</font></h2>
{% for key, value in ac_return.items() %}
      {{key}}:&nbsp&nbsp
      <b>{{value}}</b><br>
{% endfor %}
<br><br>
<h2> <font color="darkblue">OfficeCodes within AreaCode:&nbsp'{{npa_code}}'</font></h2>

<h3> <font color="darkblue">Assigned</font></h3>
{% for item in acoclist_as %}
    <a href="{{LinkHome}}/officecodes?npa-nxx={{npa_code}}-{{item}}">{{item}}&nbsp</a>
{% endfor %}

<h3> <font color="darkblue">Reserved</font></h3>
{% for item in acoclist_rv %}
    <a href="{{LinkHome}}/officecodes?npa-nxx={{npa_code}}-{{item}}">{{item}}&nbsp</a>
{% endfor %}

<h3> <font color="darkblue">Vacant</font></h3>
{% for item in acoclist_vc %}
    <a href="{{LinkHome}}/officecodes?npa-nxx={{npa_code}}-{{item}}">{{item}}&nbsp</a>
{% endfor %}

<h3> <font color="darkblue">Protected</font></h3>
{% for item in acoclist_pr %}
    <a href="{{LinkHome}}/officecodes?npa-nxx={{npa_code}}-{{item}}">{{item}}&nbsp</a>
{% endfor %}

<h3> <font color="darkblue">Unassigned</font></h3>
{% for item in acoclist_ua %}
    <a href="{{LinkHome}}/officecodes?npa-nxx={{npa_code}}-{{item}}">{{item}}&nbsp</a>
{% endfor %}
<br><br>
<img src="{{myurl}}{{USTerritoryFilePath}}{{mapfile}}"></img><br>
{% endblock content %}